**/*.idea/
**/target
**.DS_Store
wasm/Cargo.lock
**/build
**.history-*
**.logs-*
validator-*
**.bft-storage-*/
**proptest-regressions/
**package-lock.json
**node_modules/

# Data created when running a node
**.current-proposal-cache-*
**.ledger-*
jwt_secret*.txt

# For release upgrde CI
.ci/release-snarkos
.ci/release-snarkos-src
