**/*.idea/
**/target
**.DS_Store
wasm/Cargo.lock
**/build
**.history-*
**.logs-*
validator-*
**proptest-regressions/
**package-lock.json
**node_modules/

# Devent and CI logs
**.logs-*/

# Data created when running a node
**.current-proposal-cache-*
**.ledger-*
**.node-data-*
jwt_secret*.txt

# Files created by a running snarkOS node
**.ledger-*
**node-data-*

# Legacy files created by a running snarkOS node
**.current-proposal-cache-*
**cached_gateway_peers
**cached_router_peers
**.bft-storage-*/
